// CONTROLLER'S MIXINS
@mixin onOff($colorButton, $background ) {
    font-family: variables.$fontPad;
    text-transform: uppercase;
    width: 4.125rem;
    height: 1.56rem;
    background-color: $background;
    border-radius: .4rem;
    border: 4px  outset  $colorButton;
    box-shadow: .1rem .1rem .4rem $colorButton;
    color: variables.$color-closed;
    margin-bottom: 2em;
    transition: all 0.3s  ease;
    &:active{
      box-shadow: none;
    }
    
}

@mixin displays($width, $height, $borRadius, ){
  width: $width;
  height: $height;
  background-color: transparent;
  border-radius: $borRadius;
  border: 2px solid #333;
  box-shadow: 0 0 10px #555 inset;
  overflow: hidden;
  margin: 0 auto;
}

@mixin pElements($line, $font-size){
  font-family: variables.$fontPad;
  text-align: center;
  line-height: $line;    
  font-size: $font-size;
  color: #3FAEFD;
  text-transform: uppercase;
}

// DRUMPAD'S MIXIN

@mixin drumPad($mainColor, $activeColorOne, $activeColorTwo, $duration  ){
  color: $mainColor; 
  background-color: #000;
  border: 4px  outset  $mainColor ; 
  box-shadow: .4rem .4rem .4rem  $mainColor;
  transition: all $duration ease-in;
  &:active{
      color: #000;
      background: radial-gradient(circle, $activeColorOne 9%, $activeColorTwo 95%);
      box-shadow: .2rem .2rem  #000;
      transition: all .2s ease-in;
      
  }


}


@mixin none ($mainColor, $activeColorOne, $activeColorTwo ){
  color: $mainColor; 
  background-color: #000;
  border: 4px  outset  $mainColor ;
  transition: all 1s ease-out;

  }


  @mixin range {
    input[type=range] {
      width: 100%;
      margin: 21.3px 0;
      background-color: transparent;
      -webkit-appearance: none;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      background: rgba(90, 207, 111, 0.4);
      border: 1.2px solid #39baff;
      border-radius: 3.7px;
      width: 100%;
      height: 7.4px;
      cursor: pointer;
    }
    input[type=range]::-webkit-slider-thumb {
      margin-top: -22.5px;
      width: 19px;
      height: 50px;
      background: rgba(76, 157, 0, 0.5);
      border: 2.5px solid rgba(0, 255, 146, 0.5);
      border-radius: 28px;
      cursor: pointer;
      -webkit-appearance: none;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #5ed072;
    }
    input[type=range]::-moz-range-track {
      background: rgba(90, 207, 111, 0.4);
      border: 1.2px solid #39baff;
      border-radius: 3.7px;
      width: 100%;
      height: 7.4px;
      cursor: pointer;
    }
    input[type=range]::-moz-range-thumb {
      width: 19px;
      height: 50px;
      background: rgba(76, 157, 0, 0.5);
      border: 2.5px solid rgba(0, 255, 146, 0.5);
      border-radius: 28px;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      background: transparent;
      border-color: transparent;
      border-width: 22.3px 0;
      color: transparent;
      width: 100%;
      height: 7.4px;
      cursor: pointer;
    }
    input[type=range]::-ms-fill-lower {
      background: #56ce6c;
      border: 1.2px solid #39baff;
      border-radius: 7.4px;
    }
    input[type=range]::-ms-fill-upper {
      background: rgba(90, 207, 111, 0.4);
      border: 1.2px solid #39baff;
      border-radius: 7.4px;
    }
    input[type=range]::-ms-thumb {
      width: 19px;
      height: 50px;
      background: rgba(76, 157, 0, 0.5);
      border: 2.5px solid rgba(0, 255, 146, 0.5);
      border-radius: 28px;
      cursor: pointer;
      margin-top: 0px;
  
    }
    input[type=range]:focus::-ms-fill-lower {
      background: rgba(90, 207, 111, 0.4);
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #5ed072;
    }
  
    @supports (-ms-ime-align:auto) {
      input[type=range] {
        margin: 0;
      }
    }
    
  }