@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

$fontPad: 'Nova Square', sans-serif;
$color-heaters: rgba(251,108,145,255);
$color-clap: rgba(83,202,254,255);
$color-open: rgba(227,178,253,255);
$color-kicks:rgba(254,202,119,255);
$color-closed: rgba(110,95,255,255);