@use '../styles/variables';
@import "./mixin";



.controller{
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 21rem;
    gap : 1rem;


    .ON {
        @include onOff(#66fbd6, #ccc);
    }
    .OFF{
        @include onOff( #ff5252, #999);
    }

        @include range;

      #display{
        @include displays(17rem, 4rem, 1.1rem);
            p{  
              @include pElements(1.6 , 2.3em);
              position: relative;
              animation: change 5s linear 2s infinite alternate;
            }
      }
    
      .display-controller{
        @include displays (10rem, 2rem, .5rem);
          .volume-text{
            @include pElements(1.7, 1em)
        }

    }

    @keyframes change {
      0%  {left: -210px;}
      100% {left: 210px}

      
    }
}


