@use '../styles/variables';



.controller{
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 21rem;
    gap : 2rem;


    .turn{
        font-family: variables.$fontPad;
        text-transform: uppercase;
        width: 4.125rem;
        height: 1.56rem;
        background-color: #999;
        border: 4px  outset  darkred;
        box-shadow: .1rem .1rem .4rem darkred;
        color: variables.$color-closed;
        margin-bottom: 2em;
        
    }



    #display{
        width: 17rem;
        height: 4rem;
        background-color: #000;
        border-radius: 5px;
        border: 2px solid #333;
        box-shadow: 0 0 10px #555 inset;
        overflow: hidden;
        margin: 0 auto;
        p{  
            font-family: variables.$fontPad;
            text-align: center;
            line-height: 1.8;    
            font-size: 2em;
            color: #3FAEFD;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
    
    .display-controller{
      width: 10rem;
      height: 2rem;
      background-color: #000;
      border-radius: 5px;
      border: 2px solid #333;
      box-shadow: 0 0 10px #555 inset;
      overflow: hidden;
      margin: 0 auto;

      .volume-text{
        text-align: center;
        line-height: 1.8;
        text-transform: uppercase;
        font-family: variables.$fontPad;
        color: #3FAEFD;
    }
    

    }

    
}

