@use '../styles/variables';
@import './mixin';


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
        #heater-1,#heater-2,#heater-3,#heater-4{
            @include drumPad(variables.$color-heaters,rgba(247,170,170,1),rgba(251,108,145,1));
        }
        #clap{
            @include drumPad(variables.$color-clap,rgba(175,224,245,1),rgba(83,202,254,1));
        }
        #open-hh{
            @include drumPad(variables.$color-open,rgba(236,214,249,1),rgba(236,214,249,1));
            
        }
        #kicknhat, #kick{
            @include drumPad(variables.$color-kicks,rgba(247,228,197,1),rgba(254,202,119,1));
        }
        #closed-hh{
            @include drumPad(variables.$color-closed,rgba(193,187,255,1),rgba(110,95,255,1));
            
        }

        #none{
            @include none(#ccc, rgba(247,170,170,1),rgba(251,108,145,1));
        }

}

.drum-pad{
    font-family: variables.$fontPad;
    border-radius: 10%;
    padding: .3rem;
    font-size: 1.8rem;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;    
}