@use "./styles/variables";


#drum-machine{
    display: flex;
    width: 850px;
    height: 560px;
    background : url("./img/background.jpeg");
    border-radius:10px;
    margin: 3rem auto 0;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}


